.log {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 10em;
  background-color: white;
}



.logItem {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 8px
}

.box {
  margin-right: 8px;
  color: grey;
}

.hint {
  color: black;
}

.blue {
  font-weight: bold;
  color: steelblue;
}

.red {
  font-weight: bold;
  color: tomato;
}

.neutral {
  font-weight: bold;
  color: yellow;
}

.assassin {
  font-weight: bold;
  color: black;
}
