.card {
  display: flex;
  background-color: #eadaca;
  border-radius: 12px;
  padding: 9px;
  text-align: center;
  width: 300px;
  height: 150px;
  margin: 8px;
}

.inner {
  display: flex;
  flex-flow: column;
  border: 2px solid #b8a48b;
  border-radius: 8px;
  padding: 0 5px 5px 5px;
}

.upper {
  display: flex;
  flex: 6 6 auto;
  flex-flow: column;
}

.lower {
  display: flex;
  flex: 4 4 auto;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  font-size: 1.1em;
  font-weight: bold;
  padding: 4px;
}

.grey {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  color: #a29687;
  font-style: italic;
  border-top: 1.4px solid;
  margin-bottom: 3px;
  padding-top: 2px;
  font-size: 0.9em;
  transform: rotate(180deg);
  font-weight: bold;
}

.circle {}

.text {
  margin: auto;
}

.red {
  box-shadow: 0px 0px 10px 5px tomato;
}

.blue {
  box-shadow: 0px 0px 10px 5px cadetblue;
}

.yellow {
  box-shadow: 0px 0px 10px 5px yellow;
}

.black {
  box-shadow: 0px 0px 10px 5px black;
}
