.card {
  background-color: #eadaca;
  border-radius: 12px;
  padding: 9px;
  text-align: center;
  margin: 2px 3px 0px 0px;
  font-weight: bold;
  width: 17%;
  display: inline-block;
}

.red {
    background-color: red !important;
}
.blue {
    background-color: blue !important;
}
.yellow {
    background-color: yellow !important;
}
.black {
    background-color: black !important;
}

.cardInner {
  border: 2px solid #b8a48b;
  border-radius: 8px;
  padding: 0 5px 5px 5px;
}

.cardUpper {}

.cardCircle {}

.cardImage {
  float: right;
  width: 10%;
  border: 1px solid a29687
}

.cardGrey {
  color: #a29687;
  font-style: italic;
  border-top: 1.4px solid;
  margin-bottom: 3px;
  padding-top: 2px;
  font-size: 0.9em;
  transform: rotate(180deg);
}

.cardLower {
  color: black;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  font-size: 1.1em;
  padding: 4px;
}
