.guessCont {
  composes: boxWidth from '../styles.css';
  display: flex;
  flex-flow: column;
}

.guessHint {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.title {
  padding: 3px;
  color: black;
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: #ececec;
}
