.widget {
  composes: floating bottom right from "../../../../styles/styles.css";
}

.hintCont {
  composes: box from "../../../../styles/styles.css";
  width: 350px;
}

.hintInput {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0.6em;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 0.3em;
  padding: 0.4em;
}

.hintInput:focus {
  box-shadow: 0 0 1px currentColor
}

.hintShow {
  padding: 1em;
  background: white;
  font-weight: bold;
  font-size: 2em;
  color: cadetblue;
  text-align: center;
}

.title {
  padding: 3px;
  color: black;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;
  background-color: #ececec;
}

.full {
  width: 100%;
}

.num {
  width: 20%;
}

.numCont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 .6em .6em .6em;
}
