:root {
  --vw: 100vmin;
  --base: #eadaca;
}

.card {
  border: 2px solid #9E8E7E;
  border-radius: .3em;
  background-color: var(--base);
  margin: 1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc( calc( var(--vw) / 5) - 7px);
  height: calc( calc( var(--vw) / 10) - 7px);
  font-size: calc(var(--vw) / 30);
  font-variant: small-caps;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: tomato;
  border: 2px solid #B31700;
}

.blue {
  color: steelblue;
  border: 2px solid #003668;
}

.assassin {
  color: black;
  border: 2px solid;
}

.neutral {
  color: yellow;
  border: 2px solid #B3B300;
}

.revealed {
  text-decoration: line-through;
  background-color: currentColor;
}

.revealed:hover {
  background-color: var(--base);
  border: 2px solid #9E8E7E;
}
