:root {
  --vw: 100vmin;
  --base: #eadaca;
}

.container {
  width: var(--vw);
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
